<body>
  <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>
  </nav>

  <h1>This is my astro learning blog</h1>
  <p>This is where I will post about my journey learning Astro.</p>
</body>